body {
    font-family: 'Proxima Nova';
}

/*header section start*/
header {
    background-image: url("../img/Main-Screen.jpg");
    background-size: cover;
}
.menu-box {
    display: flex;
    padding-top: 30px;
    margin-left: 27px;
}
.menu-box__icon-menu {
    margin-top: 15px;
    width: 33px;
    height: 3px;
    background-color: #bea67c;
    position: relative;
    margin-right: 10px;
}
.menu-box__icon-menu:before {
     position: absolute;
     content: '';
     width: 100%;
     height: 3px;
     background-color: #bea67c;
     left: 0;
     right: 0;
     bottom: 10px;
     margin: auto;
}
.menu-box__icon-menu:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #bea67c;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto;
}
.menu-box__title-menu {
    margin-top: 10px;
    margin-right: 20%;
    padding-bottom: 5px;
    opacity: 0.5;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.38px;
    color: #fff;
    text-transform: uppercase;
}
.menu-box__logo {
    margin-right: 100px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 10.8px;
}
.menu-box__menu {
    display: flex;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    color: #fff;
    opacity: 0.5;
}
.menu__home {
    margin-right: 120px;
}
.menu__products {
    margin-right: 95px;
}
.main-screen {
    display: flex;
}
.main-screen__left-block {
    margin-top: 242px;
    margin-left: 380px;
}
.line {
    height: 50px;
    width: 4px;
    background: #c0af91;
    margin-bottom: 18px;
}
.left-block__text{
    display: inline-block;
    font-weight: bold;
    font-size: 52px;
    color: #c0af91;
    margin-left: -25px;
    transform: rotate(90deg);
}
.circle {
    width: 10px;
    height: 10px;
    background: #c0af91;
    border-radius: 50px;
    margin-top: 85px;
    margin-bottom: 40px;
}
.circle2 {
    opacity: 0.7;
}
.circle3 {
    opacity: 0.5;
}
.circle4 {
    opacity: 0.3;
}
.main-screen__center-block {
    margin-top: 300px;
    margin-left: 310px;
}
.center-block__headline {
    color: #bea67c;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: bold;
    margin-bottom: 60px;
}
.center-block__button {
    width: 300px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-size: 14px;
    margin-bottom: 68px;
}
.center-block__icon-mouse {
    display: block;
    margin-bottom: 83px;
}
.center-block__arrows-down {
    display: block;
    transform: rotate(90deg);
    width: 74px;
    height: 11px;
    margin-left: -25px;
    margin-bottom: 85px;
}
.center-block__text {
    display: inline-block;
    transform: rotate(90deg);
    margin-left: -25px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.1;
    letter-spacing: 2.8px;
    margin-bottom: 175px;
}
.right-block__text {
    transform: rotate(90deg);
    margin-top: 370px;
    opacity: 0.2;
    color: #bea67c;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4.81px;
}
/*header section end*/