body {
    font-family: 'Proxima Nova';
}
/*Start About section*/
.About {
    display: flex;
    margin-right: 370px;
    margin-left: 370px;
    margin-top: 138px;
}
.About__Img-block {
    position: relative;
    margin-right: 95px;
}
.Img-block__img {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15);
}
.Img-block__translucent-text {
    width: 145%;
    color: #d0d0d0;
    text-transform: uppercase;
    position: absolute;
    font-size: 170px;
    font-weight: 700;
    top: 30%;
    right: 25%;
    opacity: 0.2;
 }
.About__About-text {
    position: relative;
    margin-right: 135px;
    margin-top: 100px;
}
.About-text__title {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.36px;
    position: relative;
    margin-bottom: 32px;
}
.About-text__title:before{
    content: "";
    width: 150px;
    height: 5%;
    background-color: #000;
    position: absolute;
    top: 40%;
    left: -45%;
}

.About-text__translucent-text {
    color: #d0d0d0;
    text-transform: uppercase;
    font-size: 395px;
    font-weight: 700;
    position: absolute;
    bottom: 110%;
    left: 63%;
    opacity: 0.2;
}
.About-text__description {
    color: #464646;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.38px;
    margin-bottom: 32px;
    position: relative;
}
.About-text__description:before {
    content: "";
    width: 44px;
    height: 10%;
    background-color: #bea67c;
    position: absolute;
    top: 20%;
    left: -18%;
}
.About-text__link {
    font-size: 14px;
    font-weight: bold;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    text-decoration: none;
    color: #000000;
    position: relative;
}
.About-text__link:after {
    content: "";
    width: 44px;
    height: 5%;
    background-color: #bea67c;
    position: absolute;
    bottom: -5px;
    left: 0;
}
/*End About section*/